.root {
  --back-g-color: var(#c8e6c9);
  --green-800: var(#2e7d32);
  --opacity-black: var(#000000de);
  --card-bck: var(#f5f5f5);
  --opacity-white: var(#ffffffde);
  --white-60: (#ffffff99);
  --paragraph: var(
    font-family: "Poppins",
    sans-serif; font-weight: 400; font-style: normal;
  );
  --about-adress-subtitles: var(
    font-family: "Poppins",
    sans-serif; font-weight: 600; font-style: normal;
  );
}
* {
  background-color: aqua;
}
